if view == "cursThumbCateg"
	mixin cursThumbCateg(href, thumb, categ, title, categoryChildren, timeframe)
		//- href = link curs
		//- title =
		//- categHref = link curs categ
		//- categ = categ
		//- thumb = link categ
		//- categ =
		//- categoryChildren =
		//- timeframe =
		.col-xs-12.col-sm-6.col-md-4.col-lg-3
			.curs.thumbnail
				a(href="#{href}")
					img.img-responsive(src="assets/images/thumb/#{thumb}" alt="#{title}")
				.caption
					a(href="#{categHref}")
						span.label.label-default #{categ}
					a(href="#{href}")
						h5= title
					//- h3 Sah mat !
					//- h3 Lumea magica a culorilor.
					//- h3 Provocarea LEGO.
					//- h3 Marii constructori LEGO
					//- h3 I did this !
					//- h3 Hand-made:
					//- h3 Curs de actorie si sociodrama
					//- h3 Curs de literatura romana
					//- h3 Cursuri de limbi straine
					//- h3 Teatru de papusi
					//- h3 Pasionat de jurnalism ?
					//- h3 Povesti din fotografii
					//- h3 Programare IT pentru copii

					.pull-left(class="#{categoryChildren}")
						include ../assets/images/children_size.svg
						//- use(xlink:href="#children_size" x="0" y="0")

					p.pull-right= timeframe

	+cursThumbCateg("descopera_lumea.html", "categ_myUnivers.jpg", "arta", "Universul meu", "a b c", "5 luni")
	+cursThumbCateg("descopera_lumea.html", "categ_passport.jpg", "arta", "Yoga pentru copii", "a b c", "5 luni")
	+cursThumbCateg("descopera_lumea.html", "categ_ikebana.png", "arta", "Yoga pentru copii", "a b c", "5 luni")
	+cursThumbCateg("descopera_lumea.html", "categ_pixel.jpg", "arta", "Yoga pentru copii", "a b c", "5 luni")
	+cursThumbCateg("descopera_lumea.html", "categ_yogaKids.jpg", "arta", "Yoga pentru copii", "a b c", "5 luni")
	+cursThumbCateg("descopera_lumea.html", "categ_atelierulDeIerburi.jpg", "arta", "Atelierul de ierburi", "a b c", "5 luni")
	+cursThumbCateg("descopera_lumea.html", "categ_sah.jpg", "arta", "SAH", "a b c", "5 luni")
	+cursThumbCateg("descopera_lumea.html", "categ_lumeaCulorilor.jpg", "arta", "Lumea culorilor", "a b c", "5 luni")
	+cursThumbCateg("descopera_lumea.html", "categ_lego.jpg", "arta", "Lego", "a b c", "5 luni")
	+cursThumbCateg("descopera_lumea.html", "categ_kingLego.jpg", "arta", "Lego KING", "a b c", "5 luni")
	+cursThumbCateg("descopera_lumea.html", "categ_iDidThis.jpg", "arta", "I did this", "c", "5 luni")
	+cursThumbCateg("descopera_lumea.html", "categ_lemnHandMade.jpg", "arta", "Lemn hand made", "c", "5 luni")
	+cursThumbCateg("descopera_lumea.html", "categ_actorieSociodrama.jpg", "arta", "Actoriue si sociodrama", "c", "5 luni")
	+cursThumbCateg("descopera_lumea.html", "categ_literaturaRomana.jpg", "arta", "Literatura Romana", "a b c", "5 luni")
	+cursThumbCateg("descopera_lumea.html", "categ_limbiStraine.jpg", "arta", "Limbi straine", "c", "5h")
	+cursThumbCateg("descopera_lumea.html", "categ_teatruPapusi.jpg", "arta", "Teatru papusi", "c", "5h")
	+cursThumbCateg("descopera_lumea.html", "categ_jurnalism.jpg", "media", "Jurnalism", "c", "5h")
	+cursThumbCateg("descopera_lumea.html", "categ_photo.jpg", "arta", "Curs foto", "c", "5h")
	+cursThumbCateg("descopera_lumea.html", "categ_it.jpg", "curiozitati", "Curs IT", "c", "5h")
	+cursThumbCateg("descopera_lumea.html", "categ_montajFilm.jpg", "curiozitati", "Montaj Film", "a", "5h")
	+cursThumbCateg("descopera_lumea.html", "categ_descoperaLumea.jpg", "curiozitati", "Descopera lumea...", "a b", "5h")
	+cursThumbCateg("descopera_lumea.html", "categ_dictie.jpg", "curiozitati", "Cristalizeaza-ti limba", "a b", "5h")
	








		// a(href="descopera_lumea.html")
			img.img-responsive(src="assets/images/thumb_course_01.jpg" alt="...")
			.caption
				a(href="cursuri.html")
					span.label.label-default Arta si creeatie
				a(href="descopera_lumea.html")
					h5 Descopera lumea...
				//- h3 Sah mat !
				//- h3 Lumea magica a culorilor.
				//- h3 Provocarea LEGO.
				//- h3 Marii constructori LEGO
				//- h3 I did this !
				//- h3 Hand-made:
				//- h3 Curs de actorie si sociodrama
				//- h3 Curs de literatura romana
				//- h3 Cursuri de limbi straine
				//- h3 Teatru de papusi
				//- h3 Pasionat de jurnalism ?
				//- h3 Povesti din fotografii
				//- h3 Programare IT pentru copii

				.pull-left.a.b
					include ../assets/images/children_size.svg
					//- use(xlink:href="#children_size" x="0" y="0")

				p.pull-right 5h

if view == "cursThumbSidebar"
	.curs.thumbnail
		a(href="descopera_lumea.html")
			img.img-responsive(src="assets/images/thumb_course_01.jpg" alt="...")
			.caption
				//-a(href="cursuri.html")
					span.label.label-default Arta si creeatie
				a(href="descopera_lumea.html")
					h5 Descopera lumea...
				//- h3 Sah mat !
				//- h3 Lumea magica a culorilor.
				//- h3 Provocarea LEGO.
				//- h3 Marii constructori LEGO
				//- h3 I did this !
				//- h3 Hand-made:
				//- h3 Curs de actorie si sociodrama
				//- h3 Curs de literatura romana
				//- h3 Cursuri de limbi straine
				//- h3 Teatru de papusi
				//- h3 Pasionat de jurnalism ?
				//- h3 Povesti din fotografii
				//- h3 Programare IT pentru copii

				//- .pull-left.a.b
					include ../assets/images/children_size.svg
					//- use(xlink:href="#children_size" x="0" y="0")

				//- p.pull-right 5h
