mixin cursHomePage(firstLast, svgID, titleCourse, excerpt, CTA, ctaLink)
	.col-xs-6.col-sm-6.col-md-3.text-center(class="firstLast")
		svg(viewBox="0 0 237 237")
			use(xlink:href="#{svgID}" x="0" y="0")
		h3.text-center
			| !{titleCourse}
		p
			| !{excerpt}
		a.lead(href="#{ctaLink}" title="#{titleCourse}")
			| !{CTA}

mixin cursThumbCateg(href, thumb, categ, title, categoryChildren, timeframe)
		//- href = link curs
		//- title =
		//- categHref = link curs categ
		//- categ = categ
		//- thumb = link categ
		//- categ =
		//- categoryChildren =
		//- timeframe =

		.col-xs-12.col-sm-6.col-md-4.col-lg-3
			.curs.thumbnail
				a(href="#{href}")
					img.img-responsive(src="assets/images/thumb/#{thumb}" alt="#{title}")
				.caption
					a(href="#{categHref}")
						span.label.label-default #{categ}
					a(href="#{href}")
						h5= title
					//- h3 Sah mat !
					//- h3 Lumea magica a culorilor.
					//- h3 Provocarea LEGO.
					//- h3 Marii constructori LEGO
					//- h3 I did this !
					//- h3 Hand-made:
					//- h3 Curs de actorie si sociodrama
					//- h3 Curs de literatura romana
					//- h3 Cursuri de limbi straine
					//- h3 Teatru de papusi
					//- h3 Pasionat de jurnalism ?
					//- h3 Povesti din fotografii
					//- h3 Programare IT pentru copii

					.pull-left(class="#{categoryChildren}")
						include ../assets/images/children_size.svg
						//- use(xlink:href="#children_size" x="0" y="0")

					p.pull-right= timeframe

section.cursuri
	.container
		.row
			.col-xs-12.text-center
				h2 Vezi citeva intre asctivitatile noastre
		section.listaCursuri.row
			+cursThumbCateg("descopera_lumea.html", "categ_galilego.jpg", "inteligenta", "GALILEGO", "b c", "3h")
			+cursThumbCateg("descopera_lumea.html", "categ_myUnivers.jpg", "arta", "Universul meu", "a b c", "5 luni")
			+cursThumbCateg("descopera_lumea.html", "categ_passport.jpg", "arta", "Yoga pentru copii", "a b c", "5 luni")
			+cursThumbCateg("descopera_lumea.html", "categ_ikebana.png", "arta", "Yoga pentru copii", "a b c", "5 luni")
	
